<ion-split-pane contentId="main-content">
  <!-- Main content area with tabs -->
  <ion-router-outlet id="main-content"></ion-router-outlet>

  <!-- Side menu -->
  <ion-menu contentId="main-content" side="end">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
    </ion-content>
  </ion-menu>

  <ion-tabs>
    <ion-tab-bar slot="bottom" *ngIf="isTabVisible()">
      <ion-tab-button tab="homepage">
        <fa-icon [icon]="faHome"></fa-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="booking">
        <fa-icon [icon]="faBasketShopping"></fa-icon>
        <ion-label>Booking</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="openMenu()">
        <fa-icon [icon]="faBars"></fa-icon>
        <ion-label>Menu</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-split-pane>
