<!-- <ion-button id="open-loading">Show Loading</ion-button>
<ion-loading></ion-loading> -->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" fill="clear">
      <ion-button id="user-profile-btn">
        <ion-avatar>
          <ion-img src="../../../assets/icon/profile-png.png"></ion-img>
        </ion-avatar>
      </ion-button>
      <!-- <ion-label style="padding-left: 10px; font-weight: 500;">
        {{ (userInfo.firstName + ' ' + userInfo.lastName) | titlecase }}
        <p>{{userInfo.address}}</p>
      </ion-label> -->
    </ion-buttons>
    <ion-buttons slot="end" fill="clear">
      <ion-button>
        <fa-icon [icon]="faBell" class="fa-xl"></fa-icon>
      </ion-button>
      <!-- <ion-button>
        <fa-icon [icon]="faBars" class="fa-xl"></fa-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container class="swiper-container">
    <swiper-slide *ngFor="let panel of panelDetails;">
      <img (click)="clickingImage(panel.promotionId)" [src]="panel.promotionImage" />
    </swiper-slide>
  </swiper-container>
  <ion-title>
    Services
  </ion-title>
  <swiper-container [slidesPerView]="4">
    <swiper-slide>
      <ion-button expand="block" fill="clear">
        <ion-avatar>
          <img src="../../../assets/icon/laundry.png" />
          <ion-label>Laundry</ion-label>
        </ion-avatar>
      </ion-button>
    </swiper-slide>
    <swiper-slide>
      <ion-button expand="block" fill="clear">
        <ion-avatar>
          <img src="../../../assets/icon/wash&fold.png" />
          <ion-label>wash & fold</ion-label>
        </ion-avatar>
      </ion-button>
    </swiper-slide>
    <swiper-slide>
      <ion-button expand="block" fill="clear">
        <ion-avatar>
          <img src="../../../assets/icon/irons.png" />
          <ion-label>iron</ion-label>
        </ion-avatar>
      </ion-button>
    </swiper-slide>
    <swiper-slide>
      <ion-button expand="block" fill="clear">
        <ion-avatar>
          <img src="../../../assets/icon/dry-clean-1.png" />
          <ion-label>Dry Clean</ion-label>
        </ion-avatar>
      </ion-button>
    </swiper-slide>
  </swiper-container>
</ion-content>

<ion-popover trigger="user-profile-btn" triggerAction="click">
  <ng-template>
    <ion-content>
      <ion-list lines="none">
        <ion-item style="border-bottom-width: 1px;">
          <ion-avatar>
            <ion-img src="../../../assets/icon/profile-png.png"></ion-img>
          </ion-avatar>
          <ion-label style="padding-left: 10px; font-weight: 500;">
            {{ (userInfo.firstName + ' ' + userInfo.lastName) | titlecase }}
            <p>{{userInfo.address || ''}}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-buttons>
            <ion-button (click)="accountBtn()">
              <fa-icon [icon]="faUser" class="fa-xl" style="padding-right: 10px;"></fa-icon>
              <ion-label>Account</ion-label>
            </ion-button>
          </ion-buttons>
        </ion-item>
        <ion-item style="border-bottom-width: 1px;">
          <ion-buttons>
            <ion-button>
              <fa-icon [icon]="faGear" class="fa-xl" style="padding-right: 10px;"></fa-icon>
              <ion-label>Settings</ion-label>
            </ion-button>
          </ion-buttons>
        </ion-item>
        <ion-item>
          <ion-buttons>
            <ion-button (click)="logOut()">
              <fa-icon [icon]="faArrowRightFromBracket" class="fa-xl" style="padding-right: 10px;"></fa-icon>
              <ion-label>Sign Out</ion-label>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
