// Welcome Page
.welcome-page {
  --background: #fff url("../../../assets/icon/welcomePage.png") no-repeat
    center center / cover;
}
.bottom-row-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.button-row {
  ion-button {
    background: linear-gradient(175deg, #a95efa 3.64%, #8a49f7 96.35%);
    border-radius: 1.875rem;
    color: white;
    width: 250px;
    max-width: 250px;
  }
}
// Login Form
.login-title {
  font-size: x-large;
  font-weight: 600;
  text-wrap: wrap;
}
.login-welcome-message {
  color: gray;
  text-wrap: wrap;
}
.input-login-container {
  display: flex;
  align-items: center;
}
// Register Form
.register-title {
  font-size: x-large;
  font-weight: 600;
  text-wrap: wrap;
}
.register-welcome-message {
  color: gray;
  text-wrap: wrap;
}
.input-register-container {
  display: flex;
  align-items: center;
}
