<ion-content class="welcome-page" *ngIf="true">
  <ion-grid class="bottom-row-container">
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-label style="font-weight: 500; font-size: x-large;">Welcome to Laundry!</ion-label>
    </ion-row>

    <ion-row style="margin: 20px;" class="text-center">
      <ion-label style="font-size: medium;">
        With extensive experience in the audio industry, we strive to create the highest quality products.
      </ion-label>
    </ion-row>
    <ion-row class="ion-justify-content-center button-row">
      <ion-button shape="round" fill="clear">
        GET STARTED
        <ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-content>

</ion-content>
